<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="oval">
        <div id="b0"><button onclick=getHands(0)>0 notable hands</button></div>
        <div id="b1"><button onclick=getHands(1)>0 notable hands</button></div>
        <div id="b2"><button onclick=getHands(2)>0 notable hands</button></div>
        <div id="b3"><button onclick=getHands(3)>0 notable hands</button></div>
        <div id="b4"><button onclick=getHands(4)>0 notable hands</button></div>
        <div id="b5"><button onclick=getHands(5)>0 notable hands</button></div>
        <div id="b6"><button onclick=getHands(6)>0 notable hands</button></div>
        <div id="b7"><button onclick=getHands(7)>0 notable hands</button></div>
        <div id="b8"><button onclick=getHands(8)>0 notable hands</button></div>
    </div>
    <div id="overlay" onclick="overlayoff()">
        <!-- overlay goes in here -->
    </div>
        
    <button id='enterbutton' onclick=enterGame() style="top: 2%; left: 2%; position: absolute;">click me!</button>
    
    <div id="s0"></div>
    <div id="s1"></div>
    <div id="s2"></div>
    <div id="s3"></div>
    <div id="s4"></div>
    <div id="s5"></div>
    <div id="s6"></div>
    <div id="s7"></div>
    <div id="s8"></div>
    
    <script src="manager.js"></script>
</body>
</html>